* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: gold;
}

.header-start {
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 70%;
    align-items: center;
}

.header-bottom {
    width: 100%;
    background-color: rgb(34, 31, 31);
    top: 0;
    position: sticky;
}

.form {
    text-align: center;
    padding: 1rem;
}

.form input,button {
    padding: 12px;
    margin: 8px;
}

.form button {
    width: 15%;
    background-color: gold;
    border: 1px solid;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
}

.flex-item {
    padding: 2rem;
}

.flex-item button {
    background-color: #000;
    color: #ffcb04;
}

.logo {
    margin-right: auto;
}

.site-content {
    background-color: black;
}

.banner {
    width: 68%;
    margin: auto;
    padding-top: 3rem;
}

.banner img {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 77%;
    margin: auto;
    margin-top: 25px;
}

.flex-container div {
    width: 20%;
    margin: 1rem;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 0 0 0;
}

.flex-container div img {
    width: 100%;
}

.site-adv {
    margin-top: 3rem;
    text-align: center;
    color: white;
}

.auxiliary-text {
    width: 50%;
    margin: auto;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.social {
    margin-top: 2rem;
}

.social a {
    font-size: 18px;
    margin: 5px;
}
 
.help-center {
    margin-top: 3rem;
    width: 100%;
    background-color: #090909;
    padding: 1rem;
}

.help-center a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

.apt-market-link {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apt-market-link a {
    text-decoration: none;
    color: #fff;
    outline: none;
}

.apt-market-link img {
    height: 40px;
    width: auto;
    margin: 0 5px;
}

.social-icons {
    margin: 50px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons li {
    margin: 0 6px;
}

.social-icons li a {
    text-decoration: none;
    color: #fff;
    outline: none;
}